<template>
  <v-app>

   <v-app-bar
      color="black accent-4"
      dense
      dark
      hide-on-scroll = "true"
     app>
      <v-toolbar-title>
        <v-icon
      large
      color="white darken-2"
    >
      mdi-dialpad
    </v-icon>
        SIMPLE NFT</v-toolbar-title>
      <v-text-field placeholder="Search" class="ml-8" prepend-inner-icon="mdi-magnify" rounded outlined dense hide-details></v-text-field>
      <v-spacer/>

      <v-btn><img src="https://cdn.freebiesupply.com/logos/large/2x/metamask-logo-png-transparent.png" height="20px">Connect Wallet</v-btn>

    </v-app-bar>

    





    <header class="header">
      <strong>
        <g-link to="/">{{ $static.metadata.siteName }}</g-link>
      </strong>
      
    </header>
    <v-main>
    <slot/>
    </v-main>

   

  </v-app>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

